body{
  font-family: "Open Sans", Arial, sans-serif;
  margin: 0;
}

.landing-page header {
  text-align: center;
  color: #646464;
  font-weight: 300;
  padding-bottom: 50px;
}

.landing-page header img {
  display: inline-block;
  padding: 60px 0 40px 0;
}

.landing-page header h1 {
  letter-spacing: -1px;
  margin: 0;
  color: #0096E7;
  font-size: calc(12px + 2vw);
}

.landing-page header span {
  font-size: calc(8px + 1vw);
}

#ebook-infos {
  background-color: #0064AB;
  width: 100%;
  padding: 40px 20px;
  box-sizing: border-box;
}

#ebook-infos .container {
  vertical-align: top;
}

.ebook-description {
  display: inline-block;
  width: 40%;
  font-weight: 300;
}
.ebook-image {
  display: inline-block;
  width: 30%;
  text-align: center;
}

.ebook-image img {
  width: 80%
}

.ebook-form {
  display: inline-block;
  width: 30%;
}

.ebook-form h2 {
  margin-bottom: 0;
}

.ebook-form form {
  padding-top: 20px;
}

.ebook-form form div {
  position: relative;
}

.ebook-form input {
  width: 70%;
  padding: 10px 15px;
  color: #888;
  font-size: 14px;
  border-radius: 3px;
  border: 2px solid transparent;
  margin-bottom: 10px;
  outline: none;
}

.ebook-form input[type='submit'] {
  width: 230px;
  text-transform: uppercase;
  border-radius: 2px;
  border: none;
  color: white;
  background-color: #FFA10D;
  padding: 12px 20px;
  font-size: 90%;
  cursor: pointer;
}
.ebook-form input[type='submit']:hover {
  text-decoration: underline;
}

.loader {
  display: none;
  top: 10px;
  left: 115px;
  position: absolute;
}

.ebook-ok {
  background-color: #27ae60;
  padding: 10px;
  border-radius: 3px;
  display: none;
}

.ebook-ok a {
  color: white;
}

.ebook-form input:focus {
  border-color: #4690C3;
}

.box {
  margin-right: -0.25em;
  vertical-align: top;
  color: white;
  font-size: 14px;
  box-sizing: border-box;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

div#phone {
  font-size: calc(18px + 1vw);
  color: #559BF5;
  font-weight: bold;
}
#footer {
  background-color: #F7F8F9;
  padding: 60px 0;
}
#footer a {
  padding-top: 10px;
  display: inline-block;
  color: #6C7F99;
}
#footer a:hover {
  text-decoration: none;
}
#address {
  padding-left: 30px;
  background: url("../img/flag.png") no-repeat left 16px;
  color: #6C7F99;
  padding-top: 10px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}


@media only screen and (min-width: 320px) and (max-width: 479px){
  .box { width: 100%; }
}

@media only screen and (min-width: 480px) and (max-width: 767px){
  .box { width: 100%; }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
  .box { width: 50%; }
}
