/*
Theme Name: landing-teste
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: landing-teste
Tags:

This theme, like WordPress, is licensed under the GPL.
*/

body {
	font-family: "Open Sans", Arial, sans-serif;
}

#masthead {
  color: #ffffff;
  height: 100px;
  background-color: #0192f6;
  padding-top: 25px;
}

#masthead h1 {
	padding: 0;
	margin: 0;
	font-size: 100%;
}

#masthead #slogan {
	color: white;
	font-size: 90%;
	text-transform: uppercase;
	opacity: 0.90;
	text-decoration: none;
}

#masthead a:hover {
	text-decoration: none !important;
}

#masthead a:hover #slogan {
	opacity: 1;
	text-decoration: none !important;
}

#site-navigation ul {
	display: inline-block;
	padding-top: 15px;
}

#site-navigation ul li {
	display: inline;
}

#site-navigation a {
	color: white;
	text-transform: uppercase;
	font-size: 100%;
	padding: 0 8px;
}

#site-navigation a:hover {
	text-decoration: underline !important;
}

#banner-conteudos {
	background: url(img/bg-topo.jpg) center top;
	height: 265px;
	width: 100%;
	font-size: 230%;
	color: #9CD4FF;
	box-sizing: border-box;
	padding-top: 40px;
	margin-bottom: 50px;
	cursor: pointer;
}

.single #banner-conteudos, .page #banner-conteudos {
	height: 100px;
	font-size: 150%;
	padding-top: 20px;
}

#banner-conteudos span {
	color: white;
	font-weight: 600;
}

#banner-conteudos a {
	background-color: #4eca77;
	padding: 15px 60px;
	color: white;
	clear: both;
	font-size: 50%;
	border: none;
	text-transform: uppercase;
	display: inline-block;
	margin-top: 20px;
}

#banner-conteudos a:hover {
	background-color: #2fa857;
}

.single #banner-conteudos a, .page #banner-conteudos a {
	display: none;
}

#searchform {
	position: relative;
	padding-top: 5px;
}

#searchform input[type='text'] {
	width: 150px;
	font-size: 90%;
	padding: 8px 5px;
	border: none;
	border-radius: 20px;
	color: #bbb;
	box-sizing: border-box;
	padding-right: 30px
}

#searchform input[type='submit'] {
	position: absolute;
	top: 5;
	width: 30px;
	height: 35px;
	right: 30px;
	background: url(img/lupa.png) no-repeat center center;
	border: none;
}

.entry-title {
	font-size: 160%;
	font-family: 'Merriweather', serif;
	font-weight: bold;
	color: #3C5483;
	display: inline-block;
	padding-bottom: 15px;
	border-bottom: 1px solid #ccc;
	width: 100%;
}

.entry-meta {
	display: inline-block;
	width: 100%;
	padding-bottom: 30px;
	color: #ccc;
	font-size: 90%;
	font-weight: 300;
}

.entry-meta a {
	color: #2B7EEA !important;
}
.entry-content {
	font-family: 'Merriweather', serif;
	line-height: 180%;
}
.entry-content img {
	padding-right: 20px;
	padding-bottom: 15px;
}

.more-link {
	font-family: "Open Sans";
	padding: 10px 30px;
	color: #569bf6;
	border: 1px solid #569bf6;
	border-radius: 2px;
	text-transform: uppercase;
	font-size: 90%;
	margin-top: 10px;
	display: inline-block;
}

.more-link:hover {
	text-decoration: none;
	background-color: #569bf6;
	color: white;
}

.widget-title {
	font-size: 120%;
	font-weight: bold;
	color: #4eca77;
	padding-bottom: 20px;
}

.textwidget { line-height: 170%; }